.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: #f6f6f8;
}

.job {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
