.item {
  width: 390px;
  height: 145px;
  padding: 16px 20px;
  box-sizing: border-box;

  background-color: white;
}

.item:hover {
  box-shadow: 0px 0px 10px 3px #dfdfdf;
  transition: box-shadow ease-out 0.1s;
}

.subTop {
  display: flex;
  width: 100%;
  align-items: center;
}

.positionName {
  position: relative;
  max-width: 200px;
  font-size: 15px;
  color: #414a60;
  margin-right: 8px;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.salary {
  font-size: 15px;
  color: #fd7240;
  line-height: normal;
  flex: 1;
  text-align: right;
  max-width: none;
}

.subBottom {
  font-size: 13px;
  color: #8d92a1;
  padding-right: 0;
  line-height: 28px;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vline {
  display: inline-block;
  width: 1px;
  height: 12px;
  vertical-align: middle;
  background: #e0e0e0;
  margin: 0 10px;
}

.company {
  border-top: 1px solid #eef0f5;
  display: flex;
  padding-top: 12px;
  align-items: center;
}

.img {
  width: 30px;
  height: 30px;
}

.companyName {
  margin-left: 10px;
  margin-right: 20px;
  color: #61687c;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.type {
  font-size: 13px;
  color: #8d92a1;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.level {
  font-size: 13px;
  color: #8d92a1;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* bigItem */
.bigItem {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
}

.leftInfo {
  float: left;
  width: 460px;
}

.jobTitle {
  color: #00c2b3;
  font-weight: 400;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: 16px;
}

.jobLimit {
  height: 26px;
  overflow: hidden;
  font-size: 16px;
}

.salary {
  color: #fc703e !important;
}

.subBottom2 {
  float: left;
  font-size: 14px;
  margin-right: 13px;
  margin-top: 0;
  max-width: 169px;
  color: #61687c;
}
